:root {
    --btn-active: #ffffff;
    --shadow: rgb(0 0 0 / 0.1);
    --logo: #af3d26;
    --js: hsl(39, 100%, 60%);
}

[data-theme="light"] {
    --btn-active: #ffffff;
    --shadow: rgb(0 0 0 / 0.1);
    --logo: #af3d26;
    --js: hsl(39, 100%, 60%);
}

@media (prefers-color-scheme: dark) {
    :root {
        --btn-active: #000;
        --shadow: rgb(255 255 255 / 0.1);
        --logo: #e44e30;
        --js: #ffff3a;
    }
}

[data-theme="light"] {
    --btn-active: #000;
    --shadow: rgb(255 255 255 / 0.1);
    --logo: #e44e30;
    --js: #ffff3a;
}