* {
    top: 0;
    left: 0;
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu Sans' ,-apple-system, system-ui, 'Ubuntu', BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    background-color: var(--slate-1);
    color: var(--slate-11);
    overflow-x: auto;
}

h1,
h3 {
    color: var(--slate-11);
    text-align: center;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.row h3 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.row select {
    width: 50%;
}

.box {
    width: 100%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.outbox,
.welcome {
    width: 800px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    position: sticky !important;
    width: 100%;
    background-color: var(--slate-2);
    box-shadow: 0 1px 3px 0 var(--shadow), 0 1px 2px -1px var(--shadow);
}

.bar {
    width: 800px;
    padding: 4px 0;
    border-radius: 4px;
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.bar hgroup {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.bar hgroup .logo-text {
    font-family: 'Ubuntu Title', -apple-system, system-ui, 'Ubuntu', BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.bar hgroup .logo-text .logo {
    font-size: x-large;
    font-weight: 900;
    color: var(--logo);
}
.bar hgroup .logo-text .mini-logo {
    font-size: small;
    font-weight: lighter;
    color: var(--slate-7);
}
.bar hgroup .logo-text .logos img {
    cursor: pointer;
}

.js-text {
    color: var(--js);
}



.openLangDialog {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    border: 1px solid var(--slate-11);
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.panel {
    display: flex;
    gap: 10px;
    margin: 10px 0;
    width: 100%;
}

.panel ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    display: grid;
    font-size: 1rem;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 100%;
}
.panel ul li button {
    width: 100%;
    text-align: center;
}

.btnPanel {
    display: flex;
    flex-direction: column;
    width: calc(100% / 1.3);
}

.copyPanel {
    width: calc(100% / 1.3);
    display: flex;
    flex-direction: column;
}

.copyPanel .control {
    width: 100%;
    display: flex;
    margin: 0 auto;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.copyPanel input {
    width: 60%;
}
.copyPanel button {
    width: 40%;
    border: 1px solid var(--slate-11);
}

.posPanel {
    width: calc(100% / 1.3);
}

fieldset {
    border-radius: 8px;
}

fieldset legend {
    display: table;
    margin: 0 auto;
    text-align: center;
}

.text-left {
    display: flex;
    align-items: center;
    gap: 5px;
}

.text-center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.inp {
    background-color: var(--blue-1);
    color: var(--blue-11);
    outline: none;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid var(--blue-11);
    padding: 10px 20px;

    &:hover,
    &:focus,
    &:active,
    &:focus {
        outline-offset: 2px;
        border: 1px solid var(--blue-9);
        outline: 2px solid var(--blue-5);
    }
}

.btn {
    background-color: var(--slate-1);
    color: var(--slate-11);
    outline: none;
    cursor: pointer;
    border-radius: 4px;
    padding: 10px 20px;
    border-bottom: 1px solid var(--slate-11);

    &:hover,
    &:focus,
    &:active {
        outline-offset: 2px;
        outline: 2px solid var(--slate-11);
    }
}

.btn-active {
    background-color: var(--slate-1);
    color: var(--orange-8);
    outline: none;
    font-weight: 500;
    cursor: pointer;
    border-radius: 4px;
    padding: 10px 20px;
    border-bottom: 1px solid var(--orange-8);

    &:hover,
    &:focus,
    &:active {
        outline-offset: 2px;
        outline: 2px solid var(--logo);
    }
}

.default {
    background-color: var(--slate-bg);
    color: var(--slate-fg);
    border: 1px solid var(--slate-11);

    &:hover,
    &:focus,
    &:active {
        outline-offset: 2px;
        outline: 2px solid var(--slate-11);
    }
}

.success {
    background-color: var(--green-fg);
    color: var(--green-bg);
    border: 1px solid var(--green-6);

    &:hover,
    &:focus,
    &:active {
        outline-offset: 2px;
        outline: 2px solid var(--green-7);
    }
}

.warning {
    background-color: var(--yellow-bg);
    color: var(--yellow-fg);
    border: 1px solid var(--yellow-6);

    &:hover,
    &:focus,
    &:active {
        outline-offset: 2px;
        outline: 2px solid var(--yellow-7);
    }
}

.error {
    background-color: var(--red-b);
    color: var(--red-bg);
    border: 1px solid var(--red-6);

    &:hover,
    &:focus,
    &:active {
        outline-offset: 2px;
        outline: 2px solid var(--red-7);
    }
}

.close {
    display: flex;
    justify-content: center;
    min-width: 100%;
    text-align: center;
    background-color: var(--red-5);
    color: var(--red-11);
    border: 1px solid var(--red-5);
    font-weight: 600;
    font-size: large;

    &:hover,
    &:focus,
    &:active {
        outline-offset: 2px;
        outline: 2px solid var(--red-6);
    }
}

.info {
    background-color: var(--blue-fg);
    color: var(--blue-bg);
    border: 1px solid var(--blue-6);

    &:hover,
    &:focus,
    &:active {
        outline-offset: 2px;
        outline: 2px solid var(--blue-7);
    }
}

.orange {
    background-color: var(--orange-fg);
    color: var(--orange-bg);
    border: 1px solid var(--orange-6);

    &:hover,
    &:focus,
    &:active {
        outline-offset: 2px;
        outline: 2px solid var(--orange-7);
    }
}

dialog {
    flex-direction: column;
    width: calc(100% / 4);
    gap: 10px;
    background-color: var(--slate-2);
    color: var(--slate-10);
    border-radius: 16px;
}

dialog select {
    background-color: var(--slate-3);
    color: var(--slate-9);
    font-size: large;
}

.icon {
    font-size: x-small;
}

ol {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .navbar {
    padding: 0;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    list-style-type: none;
    margin: 0 auto;
    gap: 10px;
}

nav .navbar li {
    width: 100%;
}

nav .navbar li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.mobile-bar {
    display: flex;
    margin: 20px 0;
}

.mobile-bar ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.mobile-bar ul li .btn {
    border: 1px solid var(--slate-11);
}
.mobile-bar ul li .btn-active {
    border: 1px solid var(--orange-8);
}

.welcome-title {
    font-family: 'Ubuntu Title', -apple-system, system-ui, 'Ubuntu', BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-size: 94px;
    margin: 0;
    font-weight: 800;
}

.welcome-logo {
    color: var(--logo);
}

.sidebar {
    width: 100%;
    height: 100%;
    display: flex;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: transparent;
    color: var(--slate-11);
    transition: visibility 0.3s, opacity 0.3s, backdrop-filter 0.3s;
    backdrop-filter: blur(8px);
    user-select: none;
    pointer-events: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.block-dom {
    width: calc(100% - 350px);
    height: 100%;
    opacity: 50%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--slate-6);
}

.sidebar-content {
    width: 350px;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -350px;
    left: auto;
    background-color: transparent;
    color: var(--slate-11);
    outline: 4px solid var(--slate-4);
    border-radius: 4px 0 0 4px;
    transition: right 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.sidebar.show {
    visibility: visible;
    opacity: 1;
    user-select: auto;
    pointer-events: auto;
    -moz-user-select: auto;
    -webkit-user-select: auto;
}

.sidebar.show .sidebar-content {
    opacity: 1;
    right: 0;
}

.close-sidebar {
    width: 100%;
    z-index: 102;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    background-color: var(--red-5);
    color: var(--red-11);
}

@media (max-width: 1024px) {
    .bar {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .outbox,
    .welcome {
        width: 100%;
    }

    .row {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }

    .row select {
        width: 100%;
    }

    .row h3 {
        width: 100%;
        display: flex;
        justify-content: start;

    }

    .panel,
    .copyPanel,
    .posPanel,
    .btnPanel {
        width: 100%;
    }

    .copyPanel .control {
        width: 100%;
        flex-direction: column;
    }
    .copyPanel .control button {
        width: 100%;
    }
    .copyPanel .control input {
        width: 100%;
        padding-left: 0;
        text-align: center;
        padding-right: 0;
    }

    ul {
        display: grid;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
    ul li {
        text-align: center;
    }
}

@media (max-width: 628px) {
    nav {
        display: none;
    }
    .sidebar {
        width: 100%;
    }
}

@media (max-width: 360px) {

    .panel,
    .copyPanel,
    .posPanel,
    .btnPanel {
        width: 100%;
    }
    .panel ul {
        display: grid;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
    .panel ul li {
        text-align: center;
    }
    .panel ul li button {
        width: 100%;
    }
}