* {
    top: 0;
    left: 0;
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu Sans' ,-apple-system, system-ui, 'Ubuntu', BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    background-color: var(--slate-50);
    color: var(--slate-950);
    overflow-x: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: x-large;
}

.overflow-hidden {
    overflow: hidden;
}

.showcase {
    color: var(--slate-100);
    * {
        color: var(--slate-700);
    }
}

h1,
h3 {
    color: var(--slate-950);
    text-align: center;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.row h3 {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row select {
    width: 50%;
}

.box {
    width: 100%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.outbox,
.welcome,
.readme {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    font-size: large;
    background: transparent;
    backdrop-filter: blur(8px);
    position: sticky !important;
    width: 100%;
    box-shadow: 0 1px 3px 0 var(--shadow), 0 1px 2px -1px var(--shadow);
}

.bar {
    width: 1200px;
    padding: 20px 0;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.bar hgroup {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.bar hgroup .logo-text {
    font-family: 'Ubuntu Title', -apple-system, system-ui, 'Ubuntu', BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

.bar hgroup .logo-text .logo {
    font-size: xxx-large;
    font-weight: 900;
    color: var(--slate-500);
}

.bar hgroup .logo-text .mini-logo {
    font-size: large;
    font-weight: lighter;
    color: var(--slate-600);
    opacity: 50%;
}

.bar hgroup .logo-text .logos img {
    cursor: var(--cursor-pointer), pointer;
}

.js-text {
    color: var(--js);
}

.openLangDialog {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    border: 1px solid var(--slate-950);
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.panel {
    display: flex;
    gap: 10px;
    margin: 10px 0;
    width: 100%;
}

.panel ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    display: grid;
    font-size: 1rem;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 100%;
}

.panel ul li button {
    width: 100%;
    text-align: center;
}

.btnPanel {
    display: flex;
    flex-direction: column;
    width: calc(100% / 1.3);
}

.copyPanel {
    width: calc(100% / 1.3);
    display: flex;
    flex-direction: column;
}

.copyPanel .control {
    width: 100%;
    display: flex;
    margin: 0 auto;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.copyPanel input {
    width: 60%;
}

.copyPanel button {
    width: 40%;
    border: 1px solid var(--slate-950);
}

.posPanel {
    width: calc(100% / 1.3);
}

fieldset {
    border-radius: 8px;
}

fieldset legend {
    display: table;
    margin: 0 auto;
    text-align: center;
}

.text-left {
    display: flex;
    align-items: center;
    gap: 5px;
}

.text-center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

select {
    option {
        font-size: large;
        cursor: var(--cursor-pointer), pointer;
        border-radius: 4px;
        padding: 5px;
        margin: 10px 0;
        &:hover {
            background-color: var(--blue-500);
            color: #f8fafc;
        }
        &:active, &:focus, &:checked {
            background-color: var(--blue-500);
            outline: 2px solid var(--sky-800);
            outline-offset: 1px;
            color: #f8fafc;
        }
    }
}

.inp {
    background-color: var(--blue-50);
    color: var(--blue-950);
    outline: none;
    cursor: var(--cursor-pointer), pointer;
    border-radius: 4px;
    border: 1px solid var(--blue-600);
    padding: 10px 20px;

    &:hover,
    &:focus,
    &:active,
    &:focus {
        outline-offset: 2px;
        border: 1px solid var(--blue-800);
        outline: 2px solid var(--blue-400);
    }
}

.version {
    background-color: var(--slate-50);
    color: var(--slate-950);
    outline: none;
    cursor: var(--cursor-pointer), pointer;
    border-radius: 16px 0 16px 0;
    border: 1px solid var(--slate-600);
    padding: 10px 20px;

    option {
        border-radius: 4px;
    }

    &:hover,
    &:focus,
    &:active,
    &:focus {
        outline-offset: 2px;
        border: 1px solid var(--slate-800);
        outline: 2px solid var(--slate-400);
    }
}

.btn {
    background-color: var(--slate-50);
    color: var(--slate-950);
    outline: none;
    cursor: var(--cursor-pointer), pointer;
    border-radius: 4px;
    padding: 10px 20px;
    border-bottom: 1px solid var(--slate-950);

    &:hover,
    &:focus,
    &:active {
        outline-offset: 2px;
        outline: 2px solid var(--slate-950);
        cursor: var(--cursor-pointer), pointer;
    }
}

.nav-button {
    outline: 1px solid var(--slate-950);
}

.btn-active {
    background-color: var(--slate-50);
    color: var(--orange-700);
    outline: 1px solid var(--orange-700);
    font-weight: 500;
    cursor: var(--cursor-pointer), pointer;
    border-radius: 4px;
    padding: 10px 20px;
    border-bottom: 1px solid var(--orange-700);

    &:hover,
    &:focus,
    &:active {
        outline-offset: 2px;
        outline: 2px solid var(--logo);
        cursor: var(--cursor-pointer), pointer;
    }
}

.default {
    background-color: var(--slate-100);
    color: var(--slate-950);
    border: 1px solid var(--slate-950);

    &:hover,
    &:focus,
    &:active {
        outline-offset: 2px;
        outline: 2px solid var(--slate-950);
    }
}

.success {
    background-color: var(--green-300);
    color: var(--green-950);
    border: 1px solid var(--green-950);

    &:hover,
    &:focus,
    &:active {
        outline-offset: 2px;
        outline: 2px solid var(--green-950);
    }
}

.warning {
    background-color: var(--yellow-400);
    color: var(--yellow-950);
    border: 1px solid var(--yellow-950);

    &:hover,
    &:focus,
    &:active {
        outline-offset: 2px;
        outline: 2px solid var(--yellow-950);
    }
}

.error {
    background-color: var(--red-500);
    color: var(--red-950);
    border: 1px solid var(--red-950);

    &:hover,
    &:focus,
    &:active {
        outline-offset: 2px;
        outline: 2px solid var(--red-950);
    }
}

.close {
    display: flex;
    justify-content: center;
    min-width: 100%;
    text-align: center;
    background-color: var(--red-400);
    color: var(--red-950);
    border: 1px solid var(--red-950);
    font-weight: 600;
    font-size: large;

    &:hover,
    &:focus,
    &:active {
        outline-offset: 2px;
        outline: 2px solid var(--red-950);
    }
}

.info {
    background-color: var(--blue-950);
    color: var(--blue-500);
    border: 1px solid var(--blue-950);

    &:hover,
    &:focus,
    &:active {
        outline-offset: 2px;
        outline: 2px solid var(--blue-950);
    }
}

.orange {
    background-color: var(--orange-950);
    color: var(--orange-500);
    border: 1px solid var(--orange-500);

    &:hover,
    &:focus,
    &:active {
        outline-offset: 2px;
        outline: 2px solid var(--orange-950);
    }
}

dialog {
    flex-direction: column;
    width: calc(100% / 4);
    gap: 10px;
    background-color: var(--slate-100);
    color: var(--slate-500);
    border-radius: 16px;
}

dialog select {
    background-color: var(--slate-200);
    color: var(--slate-800);
    font-size: large;
}

.icon {
    font-size: x-small;
}

ol {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.menus {
    width: calc(100% / 1.5);
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

nav {
    width: calc(100% / 1.5);
    display: flex;
    align-items: center;
}

nav .navbar {
    padding: 0;
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    list-style-type: none;
    margin: 0 auto;
    gap: 10px;
}

nav .navbar li {
    width: 100%;
}

nav .navbar li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.mobile-bar {
    display: flex;
    margin: 20px 0;
}

.mobile-bar ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.mobile-bar ul li .btn {
    border: 1px solid var(--slate-950);
}

.mobile-bar ul li .btn-active {
    border: 1px solid var(--orange-700);
}

.welcome {
    font-family: 'Ubuntu Title', -apple-system, system-ui, 'Ubuntu', BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    color: var(--slate-200);
    .welcome-slogan {
        font-weight: lighter;
        color: var(--slate-600);
    }
}

.welcome-title {
    font-size: 220px;
    margin: 0;
    font-weight: 800;
}

.welcome-logo {
    color: var(--slate-500);
}

.sidebar {
    width: 100%;
    height: 100%;
    display: flex;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: transparent;
    color: var(--slate-950);
    transition: visibility 0.3s, opacity 0.3s, backdrop-filter 0.3s;
    backdrop-filter: blur(1px);
    user-select: none;
    pointer-events: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.block-dom {
    width: calc(100% - 350px);
    height: 100%;
    opacity: 50%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--slate-500);
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    width: 350px;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -350px;
    left: auto;
    background-color: var(--slate-50);
    color: var(--slate-200);
    outline: 4px solid var(--slate-300);
    border-radius: 4px 0 0 4px;
    transition: right 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.sidebar.show {
    visibility: visible;
    opacity: 1;
    user-select: auto;
    pointer-events: auto;
    -moz-user-select: auto;
    -webkit-user-select: auto;
}

.sidebar.show .sidebar-content {
    opacity: 1;
    right: 0;
}

.row {
    padding: 10px 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.row select {
    width: 100%;
}

.row h3 {
    width: 100%;
    display: flex;
    justify-content: start;

}

.close-sidebar {
    width: 100%;
    z-index: 102;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    background-color: transparent;
    color: var(--slate-50);
    &:hover, &:focus, &:active {
        outline-offset: -2px;
    }
}

@media (max-width: 1024px) {
    .bar {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .outbox,
    .welcome {
        width: 100%;
    }

    .row {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }

    .row select {
        width: 100%;
    }

    .row h3 {
        width: 100%;
        display: flex;
        justify-content: start;

    }

    .panel,
    .copyPanel,
    .posPanel,
    .btnPanel {
        width: 100%;
    }

    .copyPanel .control {
        width: 100%;
        flex-direction: column;
    }
    .copyPanel .control button {
        width: 100%;
    }
    .copyPanel .control input {
        width: 100%;
        padding-left: 0;
        text-align: center;
        padding-right: 0;
    }

    ul {
        display: grid;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
    ul li {
        text-align: center;
    }
}

@media (max-width: 628px) {
    nav {
        display: none;
    }
    .sidebar {
        width: 100%;
    }
}

@media (max-width: 360px) {

    .panel,
    .copyPanel,
    .posPanel,
    .btnPanel {
        width: 100%;
    }
    .panel ul {
        display: grid;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
    .panel ul li {
        text-align: center;
    }
    .panel ul li button {
        width: 100%;
    }
}