code, pre {
    width: 100%;
}
pre {
    * {
        border-radius: 8px;
    }
}

h2, pre {
    margin: 40px 0;
}

.readme {
    text-align: start;
    h1,h2,h3,h4,h5,h6 {
        width: 100%;
        text-align: start;
    }
}

table {
    width: 100%;
    max-width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    margin-bottom: 15px;
    background-color: var(--slate-50);
    text-align: left;
}

table thead tr {
    background-color: var(--slate-100);
}

th {
    font-weight: bold;
    border: 1px solid var(--slate-200);
    padding: 8px;
}

td {
    border: 1px solid var(--slate-200);
    padding: 8px;
}

@media (max-width: 360px) {
    code, pre {
        width: 100%;
    }
}