/**
 * @name                fvuarjs
 * @version             0.0.5
 * @author              ahmetcanisik
 * @long_name           Fast Visual User Alerts Resource
 * @description         Notification message library with a modern look for your project!
 * @licence             MIT
 */

:root {
    --fvuar-alert-border-colors: #000;
    --fvuar-alert-default-bg: #ffffff;
    --fvuar-alert-default-fg: #020617;
    --fvuar-alert-default-b: #475569;
    --fvuar-alert-error-bg: #e66a6a;
    --fvuar-alert-error-fg: #450a0a;
    --fvuar-alert-error-b: #450a0a;
    --fvuar-alert-orange-bg: #ff9020;
    --fvuar-alert-orange-fg: #5a1801;
    --fvuar-alert-orange-b: #5a1801;
    --fvuar-alert-warning-bg: #f0d465;
    --fvuar-alert-warning-fg: #422006;
    --fvuar-alert-warning-b: #422006;
    --fvuar-alert-success-bg: #6ee7b7;
    --fvuar-alert-success-fg: #134d14;
    --fvuar-alert-success-b: #134d14;
    --fvuar-alert-info-bg: #0e214d;
    --fvuar-alert-info-fg: #38bdf8;
    --fvuar-alert-info-b: #38bdf8;
}
@media (prefers-color-scheme: dark) {
    :root {
        --fvuar-alert-border-colors: #475569;
        --fvuar-alert-default-bg: #020617;
        --fvuar-alert-default-fg: #f8fafc;
        --fvuar-alert-default-b: #475569;
    }
}

.fvuar-alert-default {
    background: var(--fvuar-alert-default-bg) ;
    color: var(--fvuar-alert-default-fg);
    border-bottom-color: var(--fvuar-alert-default-b);
    outline-color: var(--fvuar-alert-default-b);
}
.fvuar-alert-success {
    background: var(--fvuar-alert-success-bg) ;
    color: var(--fvuar-alert-success-fg);
    border-bottom-color: var(--fvuar-alert-success-b);
    outline-color: var(--fvuar-alert-success-b);
}
.fvuar-alert-warning {
    background: var(--fvuar-alert-warning-bg) ;
    color: var(--fvuar-alert-warning-fg);
    border-bottom-color: var(--fvuar-alert-warning-b);
    outline-color: var(--fvuar-alert-warning-b);
}
.fvuar-alert-error {
    background: var(--fvuar-alert-error-bg);
    color: var(--fvuar-alert-error-fg);
    border-bottom-color: var(--fvuar-alert-error-b);
    outline-color: var(--fvuar-alert-error-b);
}
.fvuar-alert-info {
    background-color: var(--fvuar-alert-info-fg) ;
    color: var(--fvuar-alert-info-bg);
    border-bottom-color: var(--fvuar-alert-info-b);
    outline-color: var(--fvuar-alert-info-b);
}
.fvuar-alert-orange {
    background-color: var(--fvuar-alert-orange-bg) ;
    color: var(--fvuar-alert-orange-fg);
    border-bottom-color: var(--fvuar-alert-orange-b);
    outline-color: var(--fvuar-alert-orange-b);
}